<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>820375406013-rq7ln8jhu02tr6cokccaeu3k36q726ba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820375406013-rq7ln8jhu02tr6cokccaeu3k36q726ba</string>
	<key>API_KEY</key>
	<string>AIzaSyBnpl8J-5jhkENCC67bbc1FDqRKuqRXWvI</string>
	<key>GCM_SENDER_ID</key>
	<string>820375406013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.test</string>
	<key>PROJECT_ID</key>
	<string>finance-app-33581</string>
	<key>STORAGE_BUCKET</key>
	<string>finance-app-33581.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820375406013:ios:90138fb88c6f677209fed4</string>
</dict>
</plist>